
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

h2 {
    color: #cfd4f9;
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    font-family: Montserrat;
}


body {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}

/* الكونتينر */
.result-container {
    background: #ffffff;
    width: 250px;
    height: 10px;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;

    /* خطوط زوينين */
    border: 3px solid transparent;
    background-clip: padding-box;
}

p {
    font-family: Montserrat;
}

.result-container::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 22px;
    background: linear-gradient(135deg, #667eea, #b388eb);
    z-index: -1;
}

/* العنوان */
.result-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #4b3f72;
}

/* السكور */
.score {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.score span {
    color: #667eea;
    font-weight: bold;
}

/* Très bien */
.feedback {
    font-size: 18px;
    color: #6a5acd;
    margin-bottom: 30px;
}

/* اللينك فالقاع */
.footer-link {
    position: absolute;
    bottom: 45px;
}

.footer-link a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}